<!DOCTYPE html>
<html>

<head>
  <title>{{ index.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
body {
  background: #fff;
}
  </style>
</head>

<body>
  <header>
    <h1>{{ index.header }}</h1>
  </header>
  <hr/>
  <main>
    <ul style="list-style: none outside;" id="contents">
    {% for item in index.items %}
        <li><a href="{{ item }}" title="{{ item }}">{{ item }}</a></li>
    {% endfor%}
    </ul>
  </main>
  <hr/>
</body>

</html>
